*{
	margin: 0;
	padding: 0;
}

#tudo{
	width: 100%;
	height: 100%
}

#topo{
	width: 100%;
	height: 50px;
	background: blue;
}

#menu{
	width: 800px;
	margin: auto;
	padding-top: 15px;
}

#menu ul li{
	margin: 0 auto;
	display: inline;
	padding-left: 55px;
}


#menu ul li a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}


.form{
	margin: 0 auto;
	padding-top: 45px;
	width: 50%;
	height: 30%;
}


.lista{
	margin: 0 auto;
	padding-top: 45px;
	width: 50%;
	height: 30%;
}


.table{
	margin: 0 auto;
	padding-bottom: 45px;
	width: 50%;
	height: 50%;
}

